# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
.env
.venv
venv/
env/
*.sqlite3

# Node
node_modules/
.next/
out/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-store/

# Docker
*.log

# VS Code
.vscode/
!.vscode/extensions.json

# OS
.DS_Store
Thumbs.db

storage/
backend/storage/
frontend/.next/
frontend/node_modules/
